body {
  background-color: bisque;
}

.homepage,
#homepagetxt {
  display: flex;
  gap: 1em;
  img {
    width: 3%;
    height: auto;
  }
}

#homepagetxt:hover,
#homepage:visited,
#homepage:link,
#homepage:active {
  color: dodgerblue;
  text-decoration: none;
}

.dumplings {
  position: static;
  left: 5%;
}

.dumplingstitle {
  position: absolute;
  font-size: 46pt;
  top: 5.5%;
  right: 49%;
}

.dumplingstxt {
  position: absolute;
  text-wrap: pretty;
  font-size: 25px;
  right: 30px;
  left: 700px;
  top: 150px;
}

.clockcont {
  position: absolute;
  width: 100px;
  bottom: 10%;
  right: 25%;
}

.chtimedesc {
  position: absolute;
  right: 120%;
  bottom: -90%;
  text-wrap: nowrap;
  font-size: larger;
}

#clockchina {
  position: sticky;
  font-size: larger;
}
