header,
body,
footer {
  background-color: bisque;
}

.homepage {
  display: flex;
  gap: 1em;
}

#homepagepng {
  width: 7%;
}

#homepagetxt {
  position: absolute;
  top: -2%;
  left: 3%;
}

#homepagetxt:hover {
  color: deeppink;
}

#santorinihead {
  position: absolute;
  top: -2%;
  left: 30%;
  font-size: 32pt;
}

#santorinipic {
  position: absolute;
  width: 44rem;
  left: 2rem;
  top: 4rem;
}

#santorinidesc {
  position: absolute;
  bottom: 1%;
  left: 2%;
  font-size: 18pt;
  width: 800px;
}

#moussakahead {
  position: absolute;
  top: -2%;
  right: 30%;
  font-size: 32pt;
}

#moussakapic {
  position: absolute;
  width: 44rem;
  right: 2rem;
  top: 4rem;
}

#moussakadesc {
  position: absolute;
  bottom: 1%;
  right: 1.5%;
  font-size: 12pt;
  width: 800px;
}

.clockcont {
}

.grtimedesc {
  position: absolute;
  right: 44.5%;
  top: 42%;
  font-size: 24pt;
}

#clockgreece {
  position: absolute;
  right: 47%;
  top: 50%;
  font-size: 24pt;
}
